.title {
    margin-left: 24px;
}

ul {
    list-style: none;
    display: flex;
}

li {
    margin-left: 24px;
}

a {
    font-weight: 700;
    color: white;
    text-decoration: none;
}

a:hover {
    font-weight: 900;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: navy;
    color: white;
    text-align: center;
}